{% extends 'base.html' %}

{% block title %} User Profile Page {% endblock %}
{% block content %}
<p>User:{{ user_profile.user.username }}</p>
<p>Email:{{ user_profile.user.email }}</p>
<p>Location:{{ user_profile.location }}</p>
<p>Birth Date:{{ user_profile.birth_date }}</p>
<label for="bio">Biography:</label>
<textarea name="bio" id="bio" readonly>{{ user_profile.bio }}</textarea>

{% if user.is_authenticated and user_profile.user == user %}
    <p><a href="{% url 'user_profile_update' pk=user_profile.pk %}">Modify</a></p>
{% endif %}
{% endblock %}