{% extends 'base.html' %}

{% block title %} Product List Page {% endblock %}
{% block content %}
<div class="card-container">
    {% for product in products %}
        <div class="card">
            <div>Product: {{ product.name }}</div>
            <div>Price: {{ product.price }}</div>
            <div>Owner: {{ product.user.username }}</div>

            {% if user.is_authenticated %}
                <div class="card-buttons">
                    <a href="{% url 'product_detail' pk=product.pk %}">Detail</a>

                    {% if product.user == user %}
                        <a href="{% url 'product_update' pk=product.pk %}">Modify</a>
                        <a href="{% url 'product_delete' pk=product.pk %}">Delete</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% empty %}
    <h1>No Products yet.</h1>
    {% endfor %}
</div>
    {% if user.is_authenticated %}
        <div style="align-content: center;text-align: center;"><a href="{% url 'product_create' %}">Add New Product</a></div>
    {% endif %}
{% endblock %}