{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Product Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="navbar">
        <nav>
            <a class="navbar-link" href="{% url 'home' %}">Home</a>
            <a class="navbar-link" href="{% url 'product_list' %}">All Products</a>

            {% if user.is_authenticated %}
                <a class="navbar-link" href="{% url 'user_profile_detail' pk=user.pk %}">{{ user.username }}'s Profile</a>
                <form style="display: inline" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="navbar-link" type="submit">Log Out</button>
                </form>
            {% else %}
                <a class="navbar-link" href="{% url 'sign_up' %}">Sign Up</a>
                <a class="navbar-link" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
